/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box;
}



body{
    min-height: 100vh;
    background-color: #F2F2F2;
    font-family: 'poppins', sans-serif;
}

.logo{
   display: flex;
   justify-content: flex-start;
   position: relative;
   left: 180px;
   top:8px;
  
}

.logo img{
    object-fit: contain;
}
header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}


nav{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 60px;  
    
}

nav a{
    font-family: 'Poppins', sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 28px;
   color: #2F281E;
   text-decoration: none;
   padding: 20px;

}

.button{
    display: flex;
    padding: 20px;
    margin: 10px;
  
}

.button .white a{
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #173A56;
text-decoration: none;
border:1px solid #BCD0E5;
border-radius: 4px;
padding-right: 28px;
padding-left: 28px;
padding-top: 15px;
padding-bottom: 15px;
margin: 12px;

}

.button .orange a{
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: white;
text-decoration: none;
border-radius: 4px;
padding-right: 28px;
padding-left: 28px;
padding-top: 15px;
padding-bottom: 15px;
background: #FF9900;
}

.pricipal{
   display: flex;
    
}

.contenido1{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;  
}

.texto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  bottom: 55px
 

}

h1{
    font-family: 'Poppins',sans-serif;
   font-style: normal;
   font-weight: bold;
   font-size: 44px;
   line-height: 54px;
   color: #2F281E;
}

.texto p{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 28px;
   color: #544837;
   margin-top:30px;
   margin-bottom: 40px;

}

img{
    margin-left: 40px;
}

.button1 .orange{
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: white;
text-decoration: none;
border-radius: 4px;
padding-right: 28px;
padding-left: 28px;
padding-top: 15px;
padding-bottom: 15px;
background: #FF9900;
}

.button1 a{
 font-family: 'Poppins',sans-serif;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
text-decoration-line: underline;
color: #FF9900;
}

a img{
    margin-right: 10px;
}

.secundario{
   margin:60px;
   background-image: url(img/Bg.svg);
    background-position: bottom;
    background-repeat:no-repeat;


}

.iconos{
    display: flex;
    justify-content:space-evenly; 
   
   
}

 h2{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
   text-align: center;
   color: #2F281E;
}

.secundario h2{
    margin-bottom: 60px;
}


.iconos p{
 font-family: 'Poppins',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
color: #544837;

}

h3{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #2F281E;
    margin-top: 20px;
     
}

.iconos img{
    position: relative;
    right:40px;
    border-radius:16px;
}

.button2 .orange{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    padding-right: 28px;
    padding-left: 28px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #FF9900;
    margin-top: 24px;
    margin-bottom: 80px;
    
}
.button2{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.section3{
    display: flex;
    justify-content: space-evenly;
}

h6 span{
 font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #544837;

}

h6{
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 26px;
color: #2F281E;

}

.text2 p{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
color: #544837;
margin-top:20px;

}

.text2 h2{
   padding-right:110px;
}

.section3 img{
    margin-top: 30px;
}

.section4{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}



.section5{
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
} 

.section5 h2{
    display: flex;
    align-self: flex-start;
}

.iconos2{
    margin-top:35px;
}


.iconos2 img{
   position: relative;
   right: 40px;
     
}

.iconos2 p{
    position: relative;
    left: 40px;
    bottom: 60px;
    margin-left: 10px;
}

.section6{
    background-image:  url(img/1.png),url(img/2.png),url(img/3.png),
    url(img/4.png), url(img/5.png), url(img/Bg1.svg);
    background-repeat: no-repeat ,no-repeat, no-repeat,no-repeat;
    background-position: bottom 213px left 148px,bottom 115px left 550px, 
    top 117px right 225px, top 182px left 124px, bottom 237px right 130px, center;
    margin-top: 60px;
    height: 816px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;  

}
    
    

.contenido2 p{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
text-align: center;
color: #567592;
margin-top: 10px;


}

.button3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}

.button3 .orange{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    padding-right: 28px;
    padding-left: 28px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #FF9900;
   
}


/* --------------------section7-------------------------*/
.section7{
    margin-top: 70px;
    
}

.contenido3{
    margin-left:220px;
   
}

.contenido3 {
    display: flex;
    flex-direction: column;
    
}
.contenido3 h2{
    justify-content: flex-start;
    align-self: flex-start;
}

.images{
   display: flex;
   justify-content: center;
   margin-top: 20px;
}

.images p{
    margin-left: 40px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.images h6{
 margin-left: 40px;
}
  
.images p span{
    font-weight: bold;
}

.img2 h6{
    color:#FF9900;
}



.section8{
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
    height: 200px;
}

.quick a{
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 35px;
    color: #544837;
    text-decoration: none;
   

    
}

.legal a{
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 35px;
    color: #544837;
    text-decoration: none;
   
}

.button4 form{
 display: flex;
 flex-direction: column;
}

.button5 .orange{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    background: #FF9900;
    
}

.button5 a{
    padding: 10px;
   
}

form input{
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 16px;
    line-height: 28px;
  color: #BCD0E5;
  border-radius: 5px;
}


    
